body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  @extend %pop-400;
  color: #fff;

}

.main {
  flex-grow: 1;
}
  
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  }

.logo {
  &__img {
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
  }
}


.mark {
  color: $accent;
}

section {
  padding: 145px 0;
}