
@media (max-width: 1250px) {
    .card {
        &__list {
            justify-content: center;
        }
    }
    .categories {
        &__list {
            justify-content: center;
        }
    }
}

@media (max-width: 1160px) {
    .portfolio {
        &__filter-btn {
            flex-wrap: wrap;
        }
        &__img {
            width: 450px;
            height: 320px; 
        }
    }
}

@media (max-width: 1000px) {

    .header-bottom {
        padding: 10px 0;
    }

    /* Index */

    section {
        padding: 120px 0;
    }

    .logo, 
    .menu__btn {
        position: relative;
        z-index: 1;
    }

    .breadcrumbs {
        &__title {
            font-size: 48px;
        }
        &__link {
            font-size: 18px;
        }
        &__inner {
            height: 350px;
        }
    }
    .menu {
        &__icon {
            display: block;
            z-index: 5;
            position: relative;
            cursor: pointer;
            width: 30px;
            height: 18px;
            margin-right: 15px;
            &::before,
            &::after, 
            & span {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all .3s;
                background-color: #fff;
            }
            &::before,
            &::after {
                content: '';
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            & span {
                top: 50%;
                transform: scale(1) translateY(-50%);
            }
        } 
        &__icon--active {
            span {
                transform: scale(0);
            }
            &::before {
                top: 50%;
                transform: rotate(-45deg) translateY(-50%);
            }
            &::after {
                bottom: 50%;
                transform: rotate(45deg) translateY(50%);
            }
        }
        &__list {
            position: absolute;
            left: 0;
            right: 0;
            top: 129px;
            background-color: $title;
            display: block; 
            text-align: center;
            transform: translateY(-500%);
            transition: all .7s;
            opacity: 0;
        }
        &__list.menu__list--active {
            transform: translateY(0%);
            z-index: 10;
            opacity: 1;
        }
        &__link {
            display: block;
            padding: 15px 0;
        }
        &__item + .menu__item {
            margin-left: 0;
        }
    }
    .about {
        &__item::after {
            display: none;
        }
        ul.about__list--continue {
            width: 100%;
        }
    }

    .advantages {
        &__inner {
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__box {
            margin-bottom: 60px;
            &:last-child {
                margin: 0 auto;
            }
        }
    }

    .team {
        &__inner {
            flex-direction: column;
        }
        &__header {
            min-height: 250px;
            margin-bottom: 50px;
        }
    }

    .reasons {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__info {
            max-width: 450px;
            margin-bottom: 50px;
        }
    }

    .services {
        &__img {
            display: none;
        }
        ul.services__list {
            margin: 0 auto;
        }
        &__item {
            justify-content: flex-end;
        }
    }

    .price {
        ul.price__list {
            display: block;
        }
        &__item {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }
        &__item-title {
            text-align: center;
        }
    }

    .module {
        &__img {
            width: 330px;
            height: 200px;
        }
        &__portfolio-inner {
            flex-direction: column;
            .module__text {
                width: 100%;
                margin-bottom: 45px;
            }
        }
    }

    .price-box {
        &__item {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    #map {
        height: 700px;
    }

    .contact {
        &__info-item {
            margin-bottom: 25px;
        }
    }

    .work-principles {
        &__list {
            display: block
        }
        &__item {
            margin: 50px 20px;
        }
    }
}

@media (max-width: 960px) {
    .portfolio {
        &__title {
            margin-bottom: 40px;
        }
        &__btn {
            margin-bottom: 10px;
        }
        &__img {
            width: 340px;
            height: 250px;
        }
    }
}

@media (max-width: 750px) {
    section {
        padding: 80px 0;
    }

    .scroll-top__link {
        right: 30px;
        bottom: 30px;
    }

    .about {
        &__title {
            margin-bottom: 60px;
        }
        ul.about__list,
        ul.about__list--continue {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
        }
        &__item {
            margin-bottom: 50px;
        }
        &__list--continue .about__item:last-child {
            margin-bottom: 0;
        }
    }

    .advantages {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__box:last-child {
            margin: 0;
        }
    }

    .team {
        &__info {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .module {
        &__img {
            display: none;
        }
    }

    .price-box {
        &__item {
            margin-bottom: 20px;
        }
    }

    .footer {
        padding: 80px 0;
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__info,
        &__contact {
            max-width: 400px;
            width: 100%;
        }

        &__contact {
            margin-bottom: 50px;
        }
    }

    #map {
        height: 550px;
        width: 100%;
    }

    .contact {
        &__bottom-box {
            flex-direction: column;
            align-items: center;
        }
        &__form {
            margin: 70px 0;
        }
        &__btn {
            margin: 0 auto;
        }
    }

    .portfolio {
        &__btn {
            font-size: 16px;
        }
        &__filter-btn {
            margin-bottom: 40px;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 20px;
        }
    }   
}

@media (max-width: 650px) {
    section,
    .footer {
        padding: 60px 0;
    }
    .title {
        font-size: 28px;
    }

    .about {
        &__descr {
            font-size: 20px;
        }
    }

    .advantages {
        &__descr {
            height: auto;
        }
    }

    .breadcrumbs {
        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            padding-right: 15px;   
        }
    }

    .breadcrumbs__item+.breadcrumbs__item {
        margin-left: 5px;
    }
    .team {
        &__name {
            font-size: 25px;
        }
    }

    .reasons {
        &__portfolio {
            display: none;
        }
    }

    .services {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__item-box {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .connection {
        &__title {
            margin-bottom: 30px;
        }
        &__submit-box {
            flex-direction: column;
        }
        &__btn {
            margin-bottom: 20px;
        }
    }

    .module {
        &__main-title {
            font-size: 28px;
            margin-bottom: 40px;
        }
        &__title {
            font-size: 24px;
        }
    }

    .price-box {
        &__item {
            justify-content: flex-start;
        }
    }

    .pricing {
        &__title {
            font-size: 24px;
        }
    }   

    .portfolio {
        &__title {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 530px) {
    .breadcrumbs {
        &__inner {
            height: 300px;
        }
        &__link {
            font-size: 16px;
        }
    }

    .scroll-top__link {
        right: 22px;
        bottom: 22px;
    }

    .module {
        &__slider {
            display: none;
        }
        &__portfolio-inner .module__text {
            margin-bottom: 0;
        }
    }
    .card {
        &__title {
            padding: 15px;
        }
    }
    .portfolio {
        &__btn {
            font-size: 14px;
        }
        &__filter-btn {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
    .categories {
        &__item {
            width: 280px;
        }
        &__descr-box {
            padding: 20px 25px;
        }
    }
}

@media (max-width: 390px) {
    .breadcrumbs {
        &__title {
            font-size: 23px;
        }
    }
    .categories {
        &__img-box {
            display: none;
        }
    }
}

