.slick-arrow {
    font-size: 0;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/arrow-icon.svg');
    cursor: pointer;
    outline: transparent;
    position: absolute;
    z-index: 1;
    opacity: .2;
    transition: all .7s;
}

.slick-prev {
    transform: rotate(180deg);
    top: 42%;
    left: 5px;
}
.slick-next {
    right: 5px;
    bottom: 52%;
}