@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    background-image: url('../images/bg/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-top,
.header-bottom {
    background-color: $title;
    opacity: 0.8;
}

.header-top {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        display: flex;
    }
    &__number {
        margin-left: 5px;
        color: #fff;
        transition: all .5s;
        &:hover {
            color: $accent;
        }
    }
}

.header-bottom {
    padding: 20px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item + .menu__item {
        margin-left: 60px;
    }
    &__link {
        color: $default;
        @extend %pop-300;
        transition: all 0.5s;
        &:hover {
            color: $accent;
        }
    }
}

.header-content {
    
    &__inner {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 150px);
        color: #0D302C;
        @extend %mont-400;
    }
    &__title {
        font-size: 52px;
        max-width: 750px;
        margin-top: auto;
        line-height: 75px;
        border-left-color: #0D302C;
    }
    &__text {
        font-size: 42px;
        margin: 26px 0 auto;
    }
}

.about {
    ul.about__list {
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-bottom.png');
            width: 157px;
            height: 26px;
            right: -180px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(2)::after {
            background-image: url('../images/icons/arrow-top.png');
        }
        &:nth-child(3)::after {
            background-image: url('../images/icons/arrow-bottom.png');
            bottom: -101px;
            top: auto;
            right: 47px;
            transform: rotate(135deg);
        }
    }
    ul.about__list--continue {
        margin: 70px auto 0;
        width: 800px;
    }
    &__item--continue {
        &:first-child::after {
            transform: rotate(180deg);
            background-image: url('../images/icons/arrow-top.png');
        }
        &:last-child::after {
            background-image: none;
        }
    }
    &__img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__descr {
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
        line-height: 32px;
        color: $title;
        @extend %mont-500;
    }
}

.advantages {
    background-color: $title;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @extend %mont-700;
        margin-bottom: 10px;
    }
    &__descr {
        max-width: 350px;
        padding-left: 60px;
        height: 75px;
        margin-bottom: 60px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            position: absolute;
            height: 40px;
            width: 40px;
            left: 0;
            top: 5px;
        }
    }
    &__guarantee::before {
        background-image: (url('../images/icons/guarantee-icon.svg'));
    }
    &__pay::before {
        background-image: (url('../images/icons/pay-icon.svg'));
    }
    &__cycle::before {
        background-image: (url('../images/icons/cycle-icon.svg'));
    }
    &__quality::before {
        background-image: (url('../images/icons/quality-icon.svg'));
    }
    &__speed::before {
        background-image: (url('../images/icons/speed-icon.svg'));
    }
    &__tools::before {
        background-image: (url('../images/icons/tools-icon.svg'));
    }
}

.team {
    &__inner {
        display: flex;
        align-items: center;
    }
    &__header {
        max-width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }
    &__link {
        color: $title;
        border: 2px solid $accent;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %mont-700;
        cursor: pointer;

        position: relative;
        overflow: hidden;
        transition: all 1s;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #0D302C;
            opacity: 0.3;
            transition: all 1s;
        }
        &::after {
            transform: translateY(100px);
        }
        &::before {
            transform: translateY(-100px);
        }
        &:hover {
            color: $accent;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            border-radius: 10px;
            &::after {
                transform: translateY(-10px);
            }
            &::before {
                transform: translateY(10px);
            }
        }
        &:active {
            &::after {
                transform: translateY(0px);
            }
            &::before {
                transform: translateY(0px);
            }
        }
    }
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        max-width: 280px;
        width: 100%;
        color: $title;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        padding: 15px 0;
        border-radius: 15px;
    }
    &__img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto 25px;
    }
    &__name {
        @extend %mont-400;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    &__position {
        letter-spacing: 2px;
        @extend %pop-400;
        font-size: 14px;
        color: #5c6f87;
        margin-bottom: 20px;
    }
    &__social {
        justify-content: center;
        path {
            fill: $title;
        }
    }
}
.reasons {
    background-color: #F8F8F8;
    &__info {
        max-width: 600px;
        width: 100%;
    }
    &__title {
        margin-bottom: 85px;
    }
    &__item {
        color: $title;
        padding-left: 30px;
        position: relative;
        margin-bottom: 25px;
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/icons/mark-icon.svg')
        }
    }
}










@import 'media';